@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,700;1,400&display=swap');
.projects {
    width: 100%;
    background: #111111b3;
    margin-top: 8rem;
    padding: 2rem;
    font-family: Roboto;
    overflow-x: hidden;
}
.project-header {
    width: 100%;
    text-align: center;
    color: #bbb;
    font-weight: bolder;
    margin-bottom: 2rem;
}
.project-header h2 {
    font-size: 4rem;
    background: linear-gradient(0deg, #bbb 0%, #1cffff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.project-body {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    gap: 2rem;
}
.project-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background: #fff;
    border: 1px solid #000;
    width: 25%;
    padding: 1rem;
    border-radius: 5px;
}
.project-name {
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 1.4rem;
    color: #000;
    font-weight: 600;
}
.project-image {
    width: 100%;
    max-height: 300px;
    text-align: center;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
}
.project-image img {
    width: 180px;
    height: 130px;
    border: 1px solid #333;
    opacity: 95%;
    transition: 0.5s ease-in-out;
    transition: transform 0.5s ease;
    border-radius: 5px;
}
.project-image img:hover {
    opacity: 100%;
    transform: scale(1.1);
}
.project-description-1, .project-description-2, .project-description-3,
.project-description-4, .project-description-5, .project-description-6,
.project-description-7, .project-description-8, .project-description-9 {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 1rem;
    font-family: Barlow Condensed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    background: linear-gradient(0deg, #bbb 0%, #1cffff 100%);
    transform: translatey(-120%);
    transition: 1s ease-in;
    border: 1px solid #aaa;
    border-radius: 5px;
}
.project-visible {
    transform: translateX(0);
}
.project-description-1 p, .project-description-2 p, .project-description-3 p,
.project-description-4 p, .project-description-5 p, .project-description-6 p,
.project-description-7 p, .project-description-8 p, .project-description-9 p {
    color: #000;
    font-size: 1.1rem;
    font-weight: bolder;
}
.project-tecnology {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    gap: 1rem;
    margin-bottom: 1rem;
}
.closeDetail {
    width: 100%;
    display: flex;
    justify-content: center;
}
.closeProject {
    width: 1.2rem;
    font-size: 1rem;
    background: #09413c;
    color: #fff;
    border: 1px solid #aaa;
    border-radius: 0.2rem;
    cursor: pointer;
}
.bootstrap-icon {
    color: #8702c5;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #000;
}
.html-logo {
    color: #e44308;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #000;
}
.sass-icon {
    color: #781232;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #000;
}
.js-icon {
    color: #f1f100;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #000;
}
.css-icon {
    color: #012064;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #000;
}
.jquery-icon {
    color: #005db4;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #000;
}
.react-logo {
    color: #1cffff;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #000;
}
.vite-logo {
   color: #f502d4;
   background: #fff;
   border-radius: 5px;
   border: 1px solid #000;
}
.project-link {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.btn-project {
    background: #333;
    padding: 0.3rem;
    border: none;
    border-radius: 1rem 0 0 0;
    color: #fff;
}
.btn-project:hover {
    background: #000;
}
.project-link a {
    text-decoration: none;
    color: #fff;
}
.btn-code {
    background: #10978c;
    padding: 0.3rem;
    border: none;
    border-radius: 0 0 1rem 0;
}
.btn-code:hover {
    background: #09413c;
}
.top {
    width: 100%;
    text-align: center;
    padding: 5px;
}
.top a {
    color: #ddd;
    font-size: 0.8rem;
    padding: 5px;
    text-decoration: none;
}
.top a:hover {
    background-color: #09413c;
    border-radius: 1rem;
}
@media (max-width: 480px) {
    .project-title {
        font-size: 1.5rem;
    }
    .project-body {
        display: flex;
        flex-wrap: wrap;
    }
    .project-image img {
        width: 200px !important;
        height: 150px !important;
    }
}

@media (max-width: 768px) {
    .project-body {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
    }
    .project-content {
        width: 100%;
    }
    .project-image img {
        width: 400px;
        height: 300px;
    }
    .btn-code, .btn-project {
        width: 100px;
        height: 2rem !important;
        padding: 0;
    }
    .carousel-control-prev-icon, .carousel-control-next {
        visibility: hidden;
    }
    .project-description-1, .project-description-2, .project-description-3,
    .project-description-4, .project-description-5, .project-description-6,
    .project-description-7, .project-description-8, .project-description-9 {
        visibility: hidden;
    }
    .project-visible {
        visibility: visible;
    }
}

@media (max-width: 1024px) {
    .project-title {
        font-size: 1.8rem;
    }
    .project-content p {
        font-size: 1rem;
    }
    .btn-code, .btn-project {
        width: 100px;
        height: 3rem;
        padding: 0;
    }
    .project-tecnology {
        font-size: 1.4rem;
    }
    .project-description-1, .project-description-2, .project-description-3,
    .project-description-4, .project-description-5, .project-description-6,
    .project-description-7, .project-description-8, .project-description-9 {
        padding: 0;
    }
}