@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@1,200&family=Lato:wght@300&display=swap');

.project-container {
    margin-top: 2rem;
    overflow-x: hidden;
}

.project-title {
    width: 100%;
    font-size: 2.5rem;
    text-align: center;
    color: #fff;
    font-weight: bolder;
    font-family: Barlow Condensed;
}

.project-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.project-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: #fff;
    border: 1px solid #070115;
    width: 25%;
    height: 600px;
    padding: 1rem;
}

.project-name {
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 1.4rem;
    color: #f00e2d;
    font-weight: 600;
}

#project-details p {
    font-size: 1rem;
}

.project-image {
    width: 100%;
    max-height: 300px;
    text-align: center;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

.project-image img {
    width: 180px;
    height: 150px;
    border: 1px solid #070115;
    border-radius: 5px;
}

.project-description {
    width: 80%;
    font-family: Barlow Condensed;
    text-align: center;
}

.project-description p {
    color: #070115;
    font-size: 1.2rem;
    font-weight: bolder;
}

.project-tecnology {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    gap: 1rem;
    margin-bottom: 1rem;
}

.bootstrap-icon {
    color: rgb(135, 2, 197);
}

.html-logo {
    color: #e44308;
}

.sass-icon {
    color: #781232;
}

.js-icon {
    color: #f1f100;
}

.css-icon {
    color: #012064;
}

.jquery-icon {
    color: #005db4;
}

.react-logo {
    color: #1cffff;;
}

.vite-logo {
   color: #f502d4; 
}

.project-link {
    width: 100%;
    text-align: center;
}

.project-link button {
    background: #f00e2d;
    padding: 0.3rem;
    border-radius: 0.5rem;
}

.project-link a {
    text-decoration: none;
    color: #fff;
}

.top {
    width: 100%;
    text-align: center;
    padding: 5px;
}

.top a {
    color: #fff;
    text-decoration: none;
}

.top a:hover {
    text-shadow: 1px 1px 1px #fff;
}

@media (max-width: 480px) {
    .project-title {
        font-size: 1.5rem;
    }
    .project-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .project-content {
        width: 100% !important;
        margin-bottom: 1rem;
    }
    .project-link img {
        width: 200px !important;
        height: 150px !important;
    }
}

@media (max-width: 768px) {
    .project-title {
        font-size: 2rem;
    }
    .project-body {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .project-content {
        width: 40%;
    }
    .project-link img {
        width: 150px;
        height: 100px;
    }
}