.portifolio-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: #fff;
    font-weight: bolder;
}

.portifolio-header h1 {
    font-size: 40px;
}

.line {
    width: 55px;
    border: 2px solid #0a021b;
    border-radius: 5px;
    animation: gow-line 5s linear;
}

#links {
    display: flex;
    flex-direction: row;
}

#links li {
    cursor: pointer;
    font-size: 18px;
    list-style-type: none;
}

#links a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    text-shadow: 1px 1px 1px #fff;
}

@keyframes gow-line {
    0% {
        width: 0;
    }
    30% {
        width: 50px;
    }
    50% {
        width: 100px;
    }
    75% {
        width: 50px;
    }
    100% {
        width: 0;
    }
}