@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@1,200&family=Lato:wght@300&display=swap');

.aboutMe {
    width: 100%;
    padding: 20px;
    font-size: 20px;
    margin-top: 5rem;
    background-color: rgb(10, 2, 27);
    color: #fff;
    font-family: Barlow Condensed;
    text-align: center;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

.aboutText {
    width: 80%;
    text-shadow: 1px 2px 2px #000000;
}

.tecnologies {
    width: 80%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    background-color: #0a0a0a;
    box-shadow: 1px 2px 2px #333;
}

.tecnologies-box {
    border: 1px solid #333;
    box-shadow: 1px 1px 1px #fff;
    gap: 1rem;
    width: 45%;
    height: auto;
}

.tecnologies-box:hover {
    box-shadow: none;
    background-color: #000000;
}

.tecnologies-box img {
    width: 35%;
    border: 1px solid #fff;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .aboutMe {
        padding: 5px;
        font-size: 18px;
    }
    .aboutText {
        width: 90%;
    }
    .tecnologies-box {
        width: 100%;
    }
    .tecnologies-box img {
        width: 200px;
    }
}

@media (max-width: 1024px) {
    .tecnologies-box {
        width: 100%;
    }
    .tecnologies-box img {
        width: 220px;
    }
}