@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.aboutContainer {
    max-width: 100%;
    margin-top: 5rem;
    color: #bbb;
    text-shadow: 1px 1px 1px #000;
    font-family: Space, Grotesk;
    text-align: center;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}
.aboutMe {
    width: 100%;
    height: auto;
    padding-top: 2rem;
    background: #111111b3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.aboutMeDescription {
    width: 700px;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}
.aboutTitle h2 {
    font-size: 3rem;
}
.aboutText {
    font-size: 1.4rem;
}
.colorText {
    color: #1cffff;
}
.skills {
    margin-top: 2rem;
    width: 100%;
    padding: 20px;
    font-family: Roboto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.skills-content {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.skills-title {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
}
.skills-title h2 {
    font-size: 3rem;
}
.skill-list {
    width: 100%;
    height: auto;
    padding: 2rem;
    color: #fff;
    border-bottom: 1px solid #09413c;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    transition: 0.3s ease-in;
}
.skill-list:hover {
    background-color: #09413c;
    border: none;
}
.ether {
    width: 1rem;
    height: 1rem;
    padding: 1px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    background-color: #09413c;
    align-items: center;
    color: #fff;
}
.technologies {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}
.tecnologies-box {
    width: 25%;
    height: auto;
}
.tecnologies-box img {
    width: 100px;
    height: 100px;
    border: 1px solid #fff;
    border-radius: 5px;
}
@media (max-width: 768px) {
    .aboutMe {
        padding: 5px;
    }
    .aboutText p {
        font-size: 1.2rem;
    }
    .aboutMeDescription {
        width: 100%;
        height: auto;
        font-size: 1.4rem;
    }
    .aboutTitle {
        font-size: 1.8rem;
    }
    .skills {
        flex-direction: column;
        gap: 2rem;
    }
    .skills-content {
        width: 100%;
        flex-wrap: wrap;
    }
    .technologies {
        width: 100%;
        flex-wrap: wrap;
        gap: 2rem;
    }
    .tecnologies-box img {
        height: 80px;
    }
}

@media (max-width: 1024px) {
    .skills {
        gap: 2rem;
    }
    .technologies {
        flex-direction: row;
        gap: 2rem;
    }
    .tecnologies-box img {
        width: 80px;
    }
}