@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.aboutContainer {
    max-width: 100%;
    padding: 2rem;
    margin-top: 5rem;
    color: #bbb;
    text-shadow: 1px 1px 1px #000;
    font-family: Space, Grotesk;
    text-align: center;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}
.aboutMe {
    width: 100%;
    height: auto;
    padding: 2rem;
    background: #111;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #09413c;
    border-radius: 5px;
}
.aboutMeDescription {
    width: 700px;
    height: auto;
    display: flex;
    flex-direction: column;
}
.aboutTitle h2 {
    font-size: 3rem;
}
.aboutText {
    font-size: 1.4rem;
}
.tecnologies {
    margin-top: 2rem;
    width: 100%;
    padding: 20px;
    font-family: Roboto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}
.tecnologies-title{
    width: 100%;
    text-align: center;
}
.tecnologies-title h2 {
    font-size: 3rem;
}
.tecnologies-box {
    width: 45%;
    height: auto;
    box-shadow: 1px 1px #1cffff;
}
.tecnologies-box img {
    width: 35%;
    height: 180px;
    border: 1px solid #fff;
    border-radius: 5px;
    margin-bottom: 1rem;
}

@media (max-width: 768px) {
    .aboutMe {
        padding: 5px;
    }
    .aboutText p {
        font-size: 1.2rem;
    }
    .aboutMeDescription {
        width: 100%;
        height: auto;
        font-size: 1.4rem;
    }
    .aboutTitle {
        font-size: 1.8rem;
    }
    .tecnologies-box {
        width: 100%;
    }
    .tecnologies-title {
        font-size: 1.2rem;
    }
    .tecnologies-box img {
        width: 200px;
    }
}

@media (max-width: 1024px) {
    .tecnologies-box {
        width: 100%;
    }
    .tecnologies-box img {
        width: 220px;
    }
}