@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@1,200&family=Lato:wght@300&display=swap');

.aboutMe {
    width: 100%;
    padding: 20px;
    font-size: 20px;
    margin-top: 5rem;
    background-color: #0a021b;
    color: #fff;
    font-family: Barlow Condensed;
    text-align: center;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.aboutText {
    width: 80%;
    text-shadow: 1px 2px 2px #000000;
}

.lineTitle {
    border-bottom: 2px solid #fa4545;
    width: 20%;
}

.tecnologies {
    width: 80%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    background-color: #0a0a0a;
    box-shadow: 1px 2px 2px #333;
}

.tecnologies-box {
    border: 1px solid #333;
    box-shadow: 1px 1px 1px #fff;
    gap: 1rem;
    width: 45%;
    height: auto;
}

.tecnologies-box:hover {
    box-shadow: none;
    background-color: #000000;
}

.tecnologies-box img {
    width: 35%;
    border: 1px solid #fff;
}

.tecnologies-box img:hover {
    cursor: pointer;
    top:-2px;box-shadow:0 2px 2px #666;
    animation: animation-img linear 5s;
}

@keyframes animation-img {
    0% {width: 35%;}

    50% {width: 30%;}

    100% {width: 35%;}
}

@media (max-width: 768px) {
    .aboutMe {
        padding: 5px;
        font-size: 18px;
    }
    .aboutText {
        width: 90%;
    }
    .lineTitle {
        width: 40%;
    }
    .tecnologies-box {
        width: 100%;
    }
    .tecnologies-box img {
        width: 250px;
    }
}

@media (max-width: 1024px) {
    .lineTitle {
        width: 40%;
    }
    .tecnologies-box {
        width: 100%;
    }
    .tecnologies-box img {
        width: 250px;
    }
}