.portifolio-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: #fff;
    font-weight: bolder;
    overflow-x: hidden;
}

.portifolio-header h1 {
    font-size: 40px;
}

.lineTitleDown {
    width: 55px;
    border: 2px solid #681c34;
    border-radius: 5px;
    animation: gow-line 5s linear;
}

.nav__menu, .menu__close {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.nav li {
    cursor: pointer;
    font-size: 18px;
    padding: 5px;
    list-style-type: none;
}

.nav a {
    color: #fff;
    text-decoration: none;
    padding: 5px;
}

.nav a:hover {
    text-shadow: 1px 1px 1px #fff;
    border-bottom: 3px solid #fff;
    transition: all .3s ease-in-out;
}

.contact__show {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 250px;
    height: 50px;
    padding: 20px;
    background: rgb(10, 2, 27);
}

.contact__hide {
    display: none;    
}

.nav__toggler div{
    width: 2rem;
    height: 0.2rem;
    margin: 0.2rem;
    background: #fff;
    transition: 0.4s ease-in;
}

.nav__toggler {
    cursor: pointer;
    display: none;
}

.close__menu {
    display: none;
}

@keyframes gow-line{
    0% { width: 0; }

    30% { width: 50px; }
        
    50% { width: 100px; }
        
    75% { width: 50px; }
        
    100% { width: 0; }
}

@media (max-width: 480px) {
    .portifolio-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .portifolio-header h1 {
        font-size: 30px;
    }
    .nav li {
        font-size: 16px;
        padding: 0;
    }
    .nav a {
        padding: 0;
    }
}

@media (max-width: 768px) {
    .portifolio-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .portifolio-header h1 {
        font-size: 35px;
    }
    .nav__menu {
        flex-direction: column;
        position: fixed;
        top: 7vh;
        right: 0;
        width: 70vw;
        height: 100vh;
        font-size: 1.4rem;
        background: rgba(7,1,21,0.6);
        transform: translateX(100%);
        transition: 0.5 ease-in;
    }
    .menu__close {
        flex-direction: column;  
    }
    .nav__menu li {
        font-size: 1.4rem;
        text-align: center;
        margin-bottom: 1.5rem;
    }
    .nav a:hover {
        border: none;
    }
    .nav__toggler {
        display: block;
    }
    .nav__active {
        transform: translateX(0);
    }
    .toggle .line1 {
        transform: rotate(-45deg) translate(-4px, 5px);
    }
    .toggle .line2 {
        opacity: 0;
    }
    .toggle .line3 {
        transform: rotate(45deg) translate(-4px, -5px);
    }
    .close__menu {
        display: flex;
        position: absolute;
        top: 5vh;
        right: 0;
        padding: 1rem;
        background-color: #681c34;
    }
    .close__menu:hover {
        background-color: #781232; 
    }
}

@media (max-width: 1024px) {
    .portifolio-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .portifolio-header h1 {
        font-size: 40px;
    }
}