.portifolio-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #fff;
    font-weight: bolder;
    overflow: hidden;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title h1 {
    font-size: 3.5rem;
    padding-left: 1rem;
}

.main-social {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.socials {
    width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.linkedin a, .github a{
    background-color: #0a021b;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 35px;
}

.linkedin a:hover, .github a:hover {
    background-image: linear-gradient(to left, #f00e2d, #0a021b);
}

.nav__menu, .menu__close {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.nav {
    margin-top: 1.8rem;
}

.nav li {
    cursor: pointer;
    font-size: 20px;
    padding: 5px;
    list-style-type: none;
}

.nav a {
    color: #fff;
    text-decoration: none;
    padding: 5px;
}

.nav a:hover {
    text-shadow: 1px 1px #fff;
    border-bottom: 2px solid #fff;
    transition: all .3s ease-in-out;
}

.contact__show {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    height: auto;
    padding: 20px;
    background: #781232;
    z-index: 2;
}

.contact__show a:hover {
    text-shadow: none;
    border-bottom: none;
    transition: none;
}

.contact__hide {
    display: none;    
}

.closeContactInfo {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 0.2rem;
    background: #0a021b;
    padding: 0.5rem;
    border-radius: 5px;
}

.nav__toggler div{
    width: 2rem;
    height: 0.2rem;
    margin: 0.2rem;
    background: #fff;
    transition: 0.4s ease-in;
}

.nav__toggler {
    cursor: pointer;
    display: none;
}

.close__menu {
    display: none;
}

@media (max-width: 480px) {
    .portifolio-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .title h1 {
        font-size: 30px;
    }
    .nav li {
        font-size: 16px;
        padding: 0;
    }
    .nav a {
        padding: 0;
    }
}

@media (max-width: 768px) {
    .portifolio-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .title h1 {
        font-size: 35px;
    }
    .nav__menu {
        flex-direction: column;
        position: fixed;
        top: 0;
        right: 0;
        width: 70vw;
        height: 100vh;
        font-size: 1.4rem;
        background: rgb(7,1,21);
        transform: translateX(100%);
        transition: 0.5s ease-in;
        z-index: 3;
    }
    .menu__close {
        flex-direction: column;  
    }
    .nav__menu li {
        font-size: 1.4rem;
        text-align: center;
        margin-bottom: 2.5rem;
    }
    .nav a:hover {
        border: none;
    }
    .nav__toggler {
        display: block;
    }
    .nav__active {
        transform: translateX(0);
    }
    .toggle .line1 {
        transform: rotate(-45deg) translate(-4px, 5px);
    }
    .toggle .line2 {
        opacity: 0;
    }
    .toggle .line3 {
        transform: rotate(45deg) translate(-4px, -5px);
    }
    .close__menu {
        display: flex;
        position: absolute;
        top: 5vh;
        right: 0;
        padding: 1rem;
        background-color: #f00e2d;
        border-radius: 0.5rem;
    }
    .close__menu:hover {
        background-color: #781232; 
    }
}

@media (max-width: 1024px) {
    .portifolio-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .title h1 {
        font-size: 40px;
    }
}