@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap');
.sidebar {
    margin-top: 2rem;
    width: 100%;
    padding: 5rem 0rem 8rem 8rem;
    display: flex;
    flex-direction: row;
    font-family: Space, Grotesk;
    color: #fff;
    overflow-x: hidden;
}

.infoText {
    display: flex;
    flex-direction: column;
    letter-spacing: 1px;
}

.infoText h2 {
  font-size: 2rem;
  white-space: nowrap;
  overflow-x: hidden;
  width: 30em;
  animation: type 4s steps(60, end) infinite; 
}

.infoText p {
  width: 80%;
  font-size: 1.4rem;
  font-weight: bold;
}

@keyframes type {
    from { width: 0; } 
}

@media (max-width: 480px){
    .sidebar {
        margin-top: 1rem;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .infoText {
        width: 100%;
        margin-top: 1rem;
    }
    .infoText h2 {
        font-size: 1.3rem !important;
        overflow-wrap: break-word;
    }
    .infoText p {
        font-size: 1rem !important;
    }
}

@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        margin-top: 1rem;
        padding: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .infoText {
        width: 100%;
        margin-top: 1rem;
    }
    .infoText h2 {
        font-size: 1.6rem;
    }
    .infoText p {
        font-size: 1.2rem;
        width: 100%;
    }
}

@media (max-width: 1024px) {
    .sidebar {
        width: 100%;
        margin-top: 1rem;
        padding: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .infoText {
        width: 100%;
        margin-top: 1rem;
    }
}