#sidebar {  
    margin-top: 4rem;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    color: #fff;
}

.profile {
    text-align: center;
}

.infoText {
    display: flex;
    flex-direction: column;
    width: 50%;
    letter-spacing: 1px;
}

.infoText p {
    font-weight: bold;
}

img {
    width: 50%;
    box-shadow: 10px 5px 20px #000000;
}

.title {
    font-weight: bold;
}